* {
  margin: 0;
  padding: 0;
}

/*MENU PRINCIPAL*/
body {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #ffffff;
}

.nav_img {
  background-image: url(../img/background2.png);
  background-size: cover;
  height: 100px;
}

.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: #0F1517;
}

.navbar-brand:hover {
  color: white;
}

.nav-item {
  color: #0F1517;
  font-family: "Fredoka", sans-serif;
}

#menuprincipal {
  background-image: url(../img/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#menuprincipal h1 a {
  cursor: pointer;
  color: #0F1517;
  text-decoration: none;
}
#menuprincipal h1 a:hover {
  color: white;
}

footer {
  background-color: #B39884;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-ul {
  text-align: center;
  padding-left: 0px;
  color: white;
}
footer .copyright {
  text-align: center;
  margin-top: 5px;
  color: white;
  font-family: "Fredoka", sans-serif;
}
footer .logo {
  width: auto;
  margin-bottom: 1rem;
}
footer .social-icons-container,
footer .footer-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
footer .footer-ul {
  padding-left: 2rem;
}
footer .social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid white;
  background-image: url(../img/linkedin.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0.5rem;
  opacity: 0.8;
}
footer .social-icon:hover {
  opacity: 1;
}
footer .footer-ul {
  list-style-type: none;
}
footer .footer-li {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  font-family: "Fredoka", sans-serif;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer .footer-li:hover {
  opacity: 1;
}

#mainjugar {
  background-image: url(../img/background.png);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainjugar #menujugar {
  position: absolute;
  background-color: #0f1517;
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  display: none;
  align-items: center;
}
#mainjugar #menujugar .jugar__titulos {
  padding-top: 6%;
  font-family: "Fredoka", sans-serif;
  color: #0F1517;
}
#mainjugar #menujugar .container {
  display: grid;
  align-content: space-around;
  justify-items: center;
  align-items: center;
}
#mainjugar #menujugar .container .card {
  overflow: hidden;
}
#mainjugar #menujugar .container img {
  width: auto;
  transition: 0.5s;
}
#mainjugar #menujugar .container .intro {
  box-sizing: border-box;
  position: absolute;
  background-color: #0F1517;
  opacity: 0.5;
  color: wheat;
  transition: 0.5s;
}
#mainjugar #menujugar .container .intro h1 {
  font-family: "Fredoka", sans-serif;
}
#mainjugar #menujugar .container .intro p {
  font-family: "Fredoka", sans-serif;
  visibility: hidden;
  opacity: 0;
  color: #9ADBEB;
}
#mainjugar #menujugar .container .card:hover {
  cursor: pointer;
}
#mainjugar #menujugar .container .card:hover img {
  transform: scale(1.1) rotate(-3deg);
}
#mainjugar #menujugar .container .card:hover .intro {
  background-color: #0F1517;
}
#mainjugar #menujugar .container .card:hover p {
  opacity: 1;
  visibility: visible;
}
#mainjugar .container01 {
  margin: 3%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.5px solid #fdfdfd;
  border-radius: 30px;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "pedido life life img_bg_game" "pedido dona_deco dona_deco points_section" "ingredientes dona_deco dona_deco points_section" "ingredientes dona_deco dona_deco img_bg_game_1";
}
#mainjugar .pedido {
  grid-area: pedido;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .base {
  position: relative;
  width: 100%;
  height: 80%;
}
#mainjugar .base .dona_base1 {
  position: absolute;
  top: 2%;
  right: 19%;
}
#mainjugar .base .dona_decoracion_base1 {
  position: absolute;
  top: 0.5%;
  right: 19%;
}
#mainjugar .life {
  grid-area: life;
  display: flex;
  justify-content: space-around;
  width: auto;
  border-top: 0.5px solid #8ad7f0;
  border-bottom: 0.5px solid #8ad7f0;
  border-left: 0.5px solid #8ad7f0;
  border-right: 0.5px solid #8ad7f0;
}
#mainjugar .points_section {
  grid-area: points_section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
  border-top: 0.5px solid #8ad7f0;
  border-bottom: 0.5px solid #8ad7f0;
  border-left: 0.5px solid #8ad7f0;
  border-right: 0.5px solid #8ad7f0;
}
#mainjugar #container_points, #mainjugar .negativos, #mainjugar .positivos, #mainjugar .segundos {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar #container_lifes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .dona_deco {
  grid-area: dona_deco;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
}
#mainjugar .img_bg_game {
  grid-area: img_bg_game;
  border-radius: 0px 10px 0px 0px;
  background-image: url(../img/bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .img_bg_game_1 {
  grid-area: img_bg_game_1;
  border-radius: 0px 0px 10px 0px;
  background-image: url(../img/bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .ingredientes {
  grid-area: ingredientes;
  border-radius: 0px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
}
#mainjugar .container_ingredientes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ingrediente_violeta ingrediente_rosa" "ingrediente_celeste ingrediente_verde" "ingrediente_amarillo ingrediente_granas";
  justify-content: center;
  align-items: center;
}
#mainjugar .ingrediente_violeta {
  grid-area: ingrediente_violeta;
}
#mainjugar .ingrediente_rosa {
  grid-area: ingrediente_rosa;
}
#mainjugar .ingrediente_celeste {
  grid-area: ingrediente_celeste;
}
#mainjugar .ingrediente_verde {
  grid-area: ingrediente_verde;
}
#mainjugar .ingrediente_amarillo {
  grid-area: ingrediente_amarillo;
}
#mainjugar .ingrediente_granas {
  grid-area: ingrediente_granas;
}
#mainjugar .img__ingredientes,
#mainjugar .img__ingredientes_granas {
  transition: 0.5s;
}
#mainjugar .img__ingredientes:hover,
#mainjugar .img__ingredientes_granas:hover {
  transform: scale(1.1) rotate(-3deg);
}
#mainjugar button {
  border: none;
  background-color: transparent;
}
#mainjugar .plato_solo {
  position: relative;
  height: 80%;
  width: auto;
}
#mainjugar .botones_plato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2%;
}
#mainjugar .dona_preparar {
  height: 100%;
  width: auto;
  margin-bottom: 2%;
}
#mainjugar .dona_preparar_sola {
  position: absolute;
  top: 18%;
  left: 18%;
}
#mainjugar .dona_decoracion_sola {
  position: absolute;
  top: 17.9%;
  left: 18.6%;
}
#mainjugar .dona_prep_sola {
  height: 20%;
  width: auto;
}
#mainjugar .dona_finalizar {
  height: 30%;
  width: auto;
  margin-bottom: 10%;
}
#mainjugar #botonagregar {
  background-color: #8ad7f0;
  border-radius: 5px;
  border: 1px solid #8ad7f0;
  display: inline-block;
  cursor: pointer;
  color: #0f1517;
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 1% 3%;
  text-decoration: none;
}
#mainjugar #botonstart {
  background-color: #77d14d;
  border-radius: 5px;
  border: 1px solid #589b39;
  display: inline-block;
  cursor: pointer;
  color: #0f1517;
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 1% 3%;
  text-decoration: none;
}
#mainjugar #botonstart:disabled {
  background-color: #70726f;
  border: 2px solid #323332;
}
#mainjugar #botonagregar:disabled {
  background-color: #70726f;
  border: 2px solid #323332;
}
#mainjugar #botonborrar:disabled {
  background-color: #70726f;
  border: 2px solid #323332;
}
#mainjugar #botonborrar {
  background-color: #DE4F4F;
  border-radius: 5px;
  border: 1px solid #9b3838;
  display: inline-block;
  cursor: pointer;
  color: #0f1517;
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 1% 3%;
  text-decoration: none;
}
#mainjugar #botonstart:hover {
  background-color: #589b39;
}
#mainjugar #botonagregar:hover {
  background-color: #24a4c7;
}
#mainjugar #botonborrar:hover {
  background-color: #9b3838;
}
#mainjugar #boton:active {
  position: relative;
  top: 1px;
}

/*------------- MOBILE----------------- */
@media only screen and (min-width: 320px) {
  .navbar-brand {
    font-size: 25px;
  }
  #menuprincipal {
    height: 800px;
  }
  h1 a {
    font-size: 60px;
    font-family: Fredoka;
    font-weight: bold;
  }
  footer a,
  .copyright {
    font-size: 16px;
  }
  .logo {
    height: 100px;
  }
  #menujugar {
    height: 800px;
  }
  #menujugar .jugar__titulos {
    font-size: 40px;
  }
  #menujugar .container {
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    grid-template-rows: 230px 230px 230px;
  }
  #menujugar .container .card {
    height: 150px;
    margin: 50px;
  }
  #menujugar .container img {
    height: 150px;
    width: auto;
  }
  #menujugar .container .intro {
    height: 80px;
    width: 250px;
    padding: 6px;
    top: 100px;
  }
  #menujugar .container .intro h1 {
    margin: 5px;
    font-size: 18px;
  }
  #menujugar .container .intro p {
    font-size: 12px;
    margin: 5px;
  }
  #menujugar .container .card:hover .intro {
    height: 220px;
    top: 90px;
  }
}
/*------------- TABLET----------------- */
@media only screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 50px;
  }
  h1 a {
    font-size: 80px;
    font-family: Fredoka;
    font-weight: bold;
  }
  footer a,
  .copyright {
    font-size: 20px;
  }
  .logo {
    height: 150px;
  }
  #menujugar {
    height: 1150px;
  }
  #menujugar .jugar__titulos {
    font-size: 50px;
  }
  #menujugar .container {
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    grid-template-rows: 380px 380px 380px;
  }
  #menujugar .container .card {
    height: 300px;
    margin: 50px;
  }
  #menujugar .container img {
    height: 300px;
    width: auto;
  }
  #menujugar .container .intro {
    height: 100px;
    width: 350px;
    padding: 6px;
    top: 220px;
  }
  #menujugar .container .intro h1 {
    margin: 5px;
    font-size: 32px;
  }
  #menujugar .container .intro p {
    font-size: 18px;
    margin: 5px;
  }
  #menujugar .container .card:hover .intro {
    height: 220px;
    top: 200px;
  }
}
/*------------- DESKTOP----------------- */
@media only screen and (min-width: 992px) {
  .nav-link {
    font-size: 24px;
  }
  #menuprincipal {
    height: 800px;
  }
  h1 a {
    font-size: 100px;
    font-family: Fredoka;
    font-weight: bold;
  }
  footer a,
  .copyright {
    font-size: 24px;
  }
  #mainjugar {
    height: 1000px;
  }
  #container01 {
    width: 100px;
  }
  #menujugar {
    height: 900px;
  }
  #menujugar .jugar__titulos {
    font-size: 60px;
  }
  #menujugar .container {
    grid-template-rows: 380px 380px;
    grid-template-areas: "a1 a2 a3" "a4 a5 a6";
  }
  #menujugar .container .card {
    height: 300px;
    margin: 50px;
  }
  #menujugar .container img {
    height: 300px;
    width: auto;
  }
  #menujugar .container .intro {
    height: 100px;
    width: 350px;
    padding: 6px;
    top: 220px;
  }
  #menujugar .container .intro h1 {
    margin: 5px;
    font-size: 36px;
  }
  #menujugar .container .intro p {
    font-size: 20px;
    margin: 5px;
  }
  #menujugar .container .card:hover .intro {
    height: 220px;
    top: 200px;
  }
  #menujugar01 {
    height: 1000px;
  }
  .pedido {
    height: 300px;
    width: auto;
  }
  .pedido h1 {
    font-size: 35px;
  }
  .dona_prep_base1 {
    height: 200px;
    width: 200px;
  }
  .dona_decoracion_base1 {
    height: 150px;
    width: 200px;
  }
  .life {
    width: 300px;
  }
  .segundos,
  .positivos,
  .negativos,
  .points {
    font-size: 35px;
  }
  .dona_deco {
    width: auto;
  }
  .time_img,
  .ok_img,
  .wrong_img,
  .star_img {
    padding-right: 1rem;
  }
  .avatar {
    height: 80px;
    width: auto;
    padding-right: 1rem;
  }
  .lifes_img {
    height: 50px;
    width: auto;
  }
  .img_bg_game,
  .img_bg_game_1, .points_section {
    width: 400px;
  }
  .img__ingredientes {
    height: 150px;
    width: auto;
  }
  .img__ingredientes_granas {
    height: 120px;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */