* {
  margin: 0;
  padding: 0;
}

/*MENU PRINCIPAL*/
body {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: #ffffff;
}

.nav_img {
  background-image: url(../img/background2.png);
  background-size: cover;
  height: 40px;
}

.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: #0F1517;
}

.navbar-brand:hover {
  color: white;
}

.nav-item {
  color: #0F1517;
  font-family: "Fredoka", sans-serif;
}

#menuprincipal {
  background-image: url(../img/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#menuprincipal h1 a {
  cursor: pointer;
  color: #0F1517;
  text-decoration: none;
}
#menuprincipal h1 a:hover {
  color: white;
}

footer {
  background-color: #B39884;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-ul {
  text-align: center;
  padding-left: 0px;
  color: white;
}
footer .copyright {
  text-align: center;
  margin-top: 5px;
  color: white;
  font-family: "Fredoka", sans-serif;
}
footer .logo {
  width: auto;
  margin-bottom: 1rem;
}
footer .social-icons-container,
footer .footer-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
footer .footer-ul {
  padding-left: 2rem;
}
footer .social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid white;
  background-image: url(../img/linkedin.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0.5rem;
  opacity: 0.8;
}
footer .social-icon:hover {
  opacity: 1;
}
footer .footer-ul {
  list-style-type: none;
}
footer .footer-li {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
  font-family: "Fredoka", sans-serif;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
footer .footer-li:hover {
  opacity: 1;
}

#mainjugar {
  background-image: url(../img/background.png);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainjugar #ingreseNombre {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.5px solid #fdfdfd;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  font-family: "Fredoka", sans-serif;
}
#mainjugar #ingreseNombre button {
  background-color: #8ad7f0;
  border-radius: 5px;
  border: 1px solid #8ad7f0;
  display: inline-block;
  cursor: pointer;
  color: #0f1517;
  font-weight: bold;
  padding: 1% 3%;
  text-decoration: none;
}
#mainjugar #menujugar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.5px solid #fdfdfd;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainjugar #menujugar .jugar__titulos {
  padding-top: 1.5rem;
  font-family: "Fredoka", sans-serif;
  color: #0F1517;
}
#mainjugar #menujugar .container {
  display: grid;
  align-content: space-around;
  justify-items: center;
  align-items: center;
}
#mainjugar #menujugar .container .card {
  overflow: hidden;
}
#mainjugar #menujugar .container img {
  width: auto;
  transition: 0.5s;
}
#mainjugar #menujugar .container .intro {
  box-sizing: border-box;
  position: absolute;
  background-color: #0F1517;
  opacity: 0.5;
  color: rgb(179, 232, 245);
  transition: 0.5s;
}
#mainjugar #menujugar .container .intro h1 {
  font-family: "Fredoka", sans-serif;
}
#mainjugar #menujugar .container .intro p {
  font-family: "Fredoka", sans-serif;
  visibility: hidden;
  opacity: 0;
  color: #9ADBEB;
}
#mainjugar #menujugar .container .card:hover {
  cursor: pointer;
}
#mainjugar #menujugar .container .card:hover img {
  transform: scale(1.1) rotate(-3deg);
}
#mainjugar #menujugar .container .card:hover .intro {
  background-color: #0F1517;
}
#mainjugar #menujugar .container .card:hover p {
  opacity: 1;
  visibility: visible;
}
#mainjugar .menujugar {
  visibility: hidden;
}
#mainjugar .open-menujugar {
  visibility: visible;
}
#mainjugar .container01 {
  margin: 3%;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.5px solid #fdfdfd;
  border-radius: 30px;
  padding-top: 1.5rem;
  visibility: hidden;
}
#mainjugar .open-container01 {
  visibility: visible;
}
#mainjugar .pedido {
  grid-area: pedido;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .base {
  position: relative;
}
#mainjugar .base .dona_base1 {
  position: absolute;
}
#mainjugar .base .dona_decoracion_base1 {
  position: absolute;
  top: -1%;
}
#mainjugar .life {
  grid-area: life;
  display: flex;
  justify-content: space-around;
  width: auto;
  border-top: 0.5px solid #8ad7f0;
  border-bottom: 0.5px solid #8ad7f0;
  border-left: 0.5px solid #8ad7f0;
  border-right: 0.5px solid #8ad7f0;
}
#mainjugar .points_section {
  grid-area: points_section;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
  border-top: 0.5px solid #8ad7f0;
  border-bottom: 0.5px solid #8ad7f0;
  border-left: 0.5px solid #8ad7f0;
  border-right: 0.5px solid #8ad7f0;
}
#mainjugar #container_points,
#mainjugar .negativos,
#mainjugar .positivos,
#mainjugar .segundos {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar #container_lifes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .dona_deco {
  grid-area: dona_deco;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
}
#mainjugar .img_bg_game {
  grid-area: img_bg_game;
  border-radius: 0px 10px 0px 0px;
  background-image: url(../img/bg.png);
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .img_bg_game_1 {
  grid-area: img_bg_game_1;
  border-radius: 0px 0px 10px 0px;
  background-image: url(../img/bg.png);
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
  font-family: "Fredoka", sans-serif;
  color: #0f1517;
}
#mainjugar .ingredientes {
  grid-area: ingredientes;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8ad7f0;
  padding: 1rem;
}
#mainjugar .container_ingredientes {
  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
}
#mainjugar .ingrediente_violeta {
  grid-area: ingrediente_violeta;
}
#mainjugar .ingrediente_rosa {
  grid-area: ingrediente_rosa;
}
#mainjugar .ingrediente_celeste {
  grid-area: ingrediente_celeste;
}
#mainjugar .ingrediente_verde {
  grid-area: ingrediente_verde;
}
#mainjugar .ingrediente_amarillo {
  grid-area: ingrediente_amarillo;
}
#mainjugar .ingrediente_granas {
  grid-area: ingrediente_granas;
}
#mainjugar .img__ingredientes,
#mainjugar .img__ingredientes_granas {
  transition: 0.5s;
}
#mainjugar .img__ingredientes:hover,
#mainjugar .img__ingredientes_granas:hover {
  transform: scale(1.1) rotate(-3deg);
}
#mainjugar button {
  border: none;
  background-color: transparent;
}
#mainjugar .plato_solo {
  position: relative;
}
#mainjugar .botones_plato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2%;
}
#mainjugar .dona_finalizar {
  height: 30%;
  width: auto;
  margin-bottom: 10%;
}
#mainjugar #botonagregar {
  background-color: #8ad7f0;
  border-radius: 5px;
  border: 1px solid #8ad7f0;
  display: inline-block;
  cursor: pointer;
  color: #0f1517;
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 1% 3%;
  text-decoration: none;
}
#mainjugar #botonstart {
  background-color: #77d14d;
  border-radius: 5px;
  border: 1px solid #589b39;
  display: inline-block;
  cursor: pointer;
  color: #0f1517;
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 1% 3%;
  text-decoration: none;
}
#mainjugar #botonstart:disabled {
  background-color: #70726f;
  border: 2px solid #323332;
}
#mainjugar #botonagregar:disabled {
  background-color: #70726f;
  border: 2px solid #323332;
}
#mainjugar #botonborrar:disabled {
  background-color: #70726f;
  border: 2px solid #323332;
}
#mainjugar #botonborrar {
  background-color: #DE4F4F;
  border-radius: 5px;
  border: 1px solid #9b3838;
  display: inline-block;
  cursor: pointer;
  color: #0f1517;
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 1% 3%;
  text-decoration: none;
}
#mainjugar #botonstart:hover {
  background-color: #589b39;
}
#mainjugar #botonagregar:hover {
  background-color: #24a4c7;
}
#mainjugar #botonborrar:hover {
  background-color: #9b3838;
}
#mainjugar #boton:active {
  position: relative;
  top: 1px;
}

#ranking_main {
  background-image: url(../img/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
}
#ranking_main #ranking_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.5px solid #fdfdfd;
  border-radius: 30px;
  font-family: "Fredoka", sans-serif;
}
#ranking_main .ranking_cards {
  display: flex;
  gap: 25%;
  padding: 1rem;
  padding-left: 4rem;
  align-items: center;
  border-bottom: 0.5px solid #fdfdfd;
  background-color: rgba(255, 255, 255, 0.6);
}
#ranking_main .ranking_cards .textranking {
  display: flex;
  width: 10%;
  justify-content: flex-start;
}
#ranking_main .ranking_titulos {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.hidden-ranking {
  visibility: hidden;
}

.open-ranking {
  visibility: visible;
}

/*------------- MOBILE----------------- */
@media only screen and (min-width: 320px) {
  .navbar-brand {
    font-size: 25px;
  }
  #menuprincipal {
    height: 800px;
  }
  h1 a {
    font-size: 60px;
    font-family: Fredoka;
    font-weight: bold;
  }
  footer a,
  .copyright {
    font-size: 16px;
  }
  .logo {
    height: 100px;
  }
  #mainjugar {
    height: 800px;
  }
  #ingreseNombre {
    height: 200px;
  }
  #ingreseNombre h1 {
    font-size: 20px;
  }
  #ingreseNombre input {
    height: 30px;
    width: 200px;
    font-size: 16px;
  }
  #ingreseNombre button {
    font-size: 16px;
  }
  #menujugar {
    height: 650px;
  }
  #menujugar .jugar__titulos {
    font-size: 30px;
  }
  #menujugar .container {
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    grid-template-rows: 180px 180px 180px;
  }
  #menujugar .container .card {
    height: 150px;
  }
  #menujugar .container img {
    height: 130px;
    width: auto;
  }
  #menujugar .container .intro {
    height: 80px;
    width: 250px;
    padding: 6px;
    top: 100px;
  }
  #menujugar .container .intro h1 {
    margin: 5px;
    font-size: 18px;
  }
  #menujugar .container .intro p {
    font-size: 12px;
    margin: 5px;
  }
  #menujugar .container .card:hover .intro {
    height: 220px;
    top: 90px;
  }
  .container01 {
    height: 780px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.9fr 1.4fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "life life life" "pedido points_section points_section" "dona_deco dona_deco dona_deco" "ingredientes ingredientes ingredientes";
  }
  .life {
    grid-area: life;
  }
  .pedido {
    grid-area: pedido;
  }
  .dona_deco {
    grid-area: dona_deco;
  }
  .ingredientes {
    grid-area: ingredientes;
    border-radius: 0px 0px 10px 10px;
  }
  .container_ingredientes {
    grid-template-areas: "ingrediente_violeta ingrediente_rosa ingrediente_celeste" " ingrediente_verde ingrediente_amarillo ingrediente_granas";
  }
  .points_section {
    grid-area: points_section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "segundos positivos" "container_points negativos";
  }
  .segundos {
    grid-area: segundos;
  }
  .container_points {
    grid-area: container_points;
  }
  .positivos {
    grid-area: positivos;
  }
  .negativos {
    grid-area: negativos;
  }
  .pedido {
    height: 150px;
    width: auto;
  }
  .pedido h1 {
    font-size: 16px;
  }
  .base {
    width: 90px;
    height: 90px;
  }
  .dona_prep_base1 {
    height: 90px;
    width: 90px;
  }
  .dona_decoracion_base1 {
    height: 90px;
    width: 140px;
  }
  .life {
    height: 100px;
    border-radius: 10px 10px 0px 0px;
  }
  .segundos,
  .positivos,
  .negativos,
  .points {
    font-size: 16px;
  }
  .dona_deco {
    width: auto;
  }
  .time_img,
  .ok_img,
  .wrong_img,
  .star_img {
    padding-right: 1rem;
    height: 36px;
  }
  .avatar {
    height: 36px;
    width: auto;
  }
  .plato_solo {
    height: 180px;
    width: 180px;
  }
  .dona_prep_sola {
    height: 140px;
  }
  .dona_preparar {
    height: 100%;
    width: auto;
    margin-bottom: 2%;
  }
  .dona_preparar_sola {
    position: absolute;
    top: 11%;
    left: 11%;
  }
  .dona_decoracion_sola {
    position: absolute;
    top: 10%;
    left: 11%;
  }
  .lifes_img {
    height: 30px;
    width: auto;
  }
  .points_section.avatar {
    height: 80px;
  }
  .img__ingredientes {
    height: 80px;
    width: auto;
  }
  .img__ingredientes_granas {
    height: 70px;
    width: auto;
  }
  .img_bg_game,
  .img_bg_game_1 {
    display: none;
  }
  #ranking_container {
    height: 800px;
    width: 40%;
  }
  .gamer_avatar {
    height: 100px;
  }
  .gamer_name,
  .gamer_points {
    font-size: 30px;
  }
}
/*------------- TABLET----------------- */
@media only screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 50px;
  }
  h1 a {
    font-size: 80px;
    font-family: Fredoka;
    font-weight: bold;
  }
  footer a,
  .copyright {
    font-size: 20px;
  }
  .logo {
    height: 150px;
  }
  #mainjugar {
    height: 1000px;
  }
  #ingreseNombre {
    height: 220px;
  }
  #ingreseNombre h1 {
    font-size: 28px;
  }
  #ingreseNombre input {
    height: 30px;
    width: 280px;
    font-size: 20px;
  }
  #ingreseNombre button {
    font-size: 17px;
  }
  #menujugar {
    height: 800px;
  }
  #menujugar .jugar__titulos {
    font-size: 40px;
  }
  #menujugar .container {
    grid-template-rows: 200px 200px;
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
  }
  #menujugar .container .card {
    height: 180px;
    margin: 50px;
  }
  #menujugar .container img {
    height: 180px;
    width: auto;
  }
  #menujugar .container .intro {
    height: 100px;
    width: 350px;
    top: 180px;
  }
  #menujugar .container .intro h1 {
    margin: 5px;
    font-size: 36px;
  }
  #menujugar .container .intro p {
    font-size: 20px;
    margin: 5px;
  }
  #menujugar .container .card:hover .intro {
    height: 220px;
    top: 150px;
  }
  container01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "pedido life life img_bg_game" "pedido dona_deco dona_deco points_section" "ingredientes dona_deco dona_deco points_section" "ingredientes dona_deco dona_deco img_bg_game_1";
  }
  .pedido {
    border-radius: 10px 0px 0px 0px;
  }
  .ingredientes {
    border-radius: 0px 0px 0px 10px;
  }
  .container_ingredientes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "ingrediente_violeta ingrediente_rosa" "ingrediente_celeste ingrediente_verde" "ingrediente_amarillo ingrediente_granas";
    border-radius: 10px 10px 10px 10px;
  }
  .dona_preparar_sola {
    position: absolute;
    top: 9%;
    left: 9%;
  }
  .dona_decoracion_sola {
    position: absolute;
    top: 8%;
    left: 9%;
  }
}
/*------------- DESKTOP----------------- */
@media only screen and (min-width: 992px) {
  .navbar-brand {
    font-size: 40px;
  }
  .nav-link {
    font-size: 24px;
  }
  #menuprincipal {
    height: 800px;
  }
  h1 a {
    font-size: 100px;
    font-family: Fredoka;
    font-weight: bold;
  }
  footer a,
  .copyright {
    font-size: 24px;
  }
  #mainjugar {
    height: 900px;
  }
  #ingreseNombre {
    height: 300px;
  }
  #ingreseNombre input {
    height: 40px;
    width: 300px;
    font-size: 26px;
  }
  #ingreseNombre button {
    font-size: 17px;
  }
  #container01 {
    width: 100px;
  }
  #menujugar {
    height: 700px;
  }
  #menujugar .jugar__titulos {
    font-size: 48px;
  }
  #menujugar .container {
    grid-template-rows: 280px 280px;
    grid-template-areas: "a1 a2 a3" "a4 a5 a6";
  }
  #menujugar .container .card {
    height: 250px;
    margin: 50px;
  }
  #menujugar .container img {
    height: 250px;
    width: auto;
  }
  #menujugar .container .intro {
    height: 100px;
    width: 350px;
    top: 180px;
  }
  #menujugar .container .intro h1 {
    margin: 5px;
    font-size: 36px;
  }
  #menujugar .container .intro p {
    font-size: 20px;
    margin: 5px;
  }
  #menujugar .container .card:hover .intro {
    height: 220px;
    top: 150px;
  }
  .container01 {
    height: 800px;
  }
  .pedido {
    height: 280px;
    width: auto;
  }
  .pedido h1 {
    font-size: 26px;
  }
  .base {
    width: 200px;
    height: 200px;
  }
  .dona_prep_base1 {
    height: 200px;
    width: 200px;
  }
  .dona_decoracion_base1 {
    height: 200px;
    width: 250px;
  }
  .dona_prep_sola {
    height: 300px;
  }
  .life {
    height: 200px;
  }
  .points_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .segundos,
  .positivos,
  .negativos,
  .points {
    font-size: 26px;
  }
  .dona_deco {
    width: auto;
  }
  .time_img,
  .ok_img,
  .wrong_img,
  .star_img {
    padding-right: 1rem;
    height: 52px;
  }
  .avatar {
    height: 80px;
    width: auto;
  }
  .plato_solo {
    width: 370px;
  }
  .lifes_img {
    height: 50px;
    width: auto;
  }
  .img_bg_game,
  .img_bg_game_1 {
    width: 300px;
    height: 200px;
  }
  .points_section.avatar {
    height: 500px;
  }
  .img__ingredientes {
    height: 130px;
    width: auto;
  }
  .img__ingredientes_granas {
    height: 110px;
    width: auto;
  }
  #ranking_container {
    height: 800px;
    width: 40%;
  }
  .gamer_avatar {
    height: 100px;
  }
  .gamer_name,
  .gamer_points {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */