@import "variables/variables";

@mixin titulos($tamanio, $tipografia, $weight) {
    font-size: $tamanio;
    font-family: $tipografia;
    font-weight: $weight;
}

* {
    margin: 0;
    padding: 0;
}

/*MENU PRINCIPAL*/

body {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #ffffff;
}

.nav_img {
    background-image: url(../img/background2.png);
    background-size: cover;
    height: 40px;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    color: $color_secundario;
}

.navbar-brand:hover {
    color: $color_terciario;
}

.nav-item {
    color: $color_secundario;
    font-family: 'Fredoka', sans-serif;
}

#menuprincipal {
    background-image: url(../img/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 a {
        cursor: pointer;
        color: $color_secundario;
        text-decoration: none;
    }

    h1 a:hover {
        color: $color_terciario;

    }
}

footer {
    background-color: #B39884;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer-ul {
        text-align: center;
        padding-left: 0px;
        color: $color_terciario;
    }

    .copyright {
        text-align: center;
        margin-top: 5px;
        color: $color_terciario;
        font-family: 'Fredoka', sans-serif;
    }

    .logo {
        width: auto;
        margin-bottom: 1rem;
    }

    .social-icons-container,
    .footer-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    .footer-ul {
        padding-left: 2rem;
    }

    .social-icon {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid $color_terciario;
        background-image: url(../img/linkedin.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0.5rem;
        opacity: 0.8;
    }


    .social-icon:hover {
        opacity: 1;
    }

    .footer-ul {
        list-style-type: none;
    }

    .footer-li {
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
        font-family: 'Fredoka', sans-serif;
    }

    a {
        color: $color_terciario;
        text-decoration: none;
    }

    a:hover {
        color: $color_terciario;
    }

    .footer-li:hover {
        opacity: 1;
    }

}

//JUGAR//

#mainjugar {
    background-image: url(../img/background.png);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    // INGRESAR NOMBRE 

    #ingreseNombre {
        position: absolute;
        background-color: #ffffff99;
        border: 0.5px solid #fdfdfd;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem;
        font-family: 'Fredoka', sans-serif;

        button {
            background-color: #8ad7f0;
            border-radius: 5px;
            border: 1px solid #8ad7f0;
            display: inline-block;
            cursor: pointer;
            color: #0f1517;
            font-weight: bold;
            padding: 1% 3%;
            text-decoration: none;
        }
    }

    // SELECCION DE AVATAR 
    #menujugar {
        position: absolute;
        background-color: #ffffff99;
        border: 0.5px solid #fdfdfd;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .jugar__titulos {
            padding-top: 1.5rem;
            font-family: 'Fredoka', sans-serif;
            color: $color_secundario;
        }

        .container {

            display: grid;
            align-content: space-around;
            justify-items: center;
            align-items: center;

            .card {
                overflow: hidden;
            }

            img {

                width: auto;
                transition: .5s;
            }

            .intro {
                box-sizing: border-box;
                position: absolute;
                background-color: $color_secundario;
                opacity: 0.5;
                color: rgb(179, 232, 245);
                transition: .5s;

                h1 {
                    font-family: 'Fredoka', sans-serif;

                }

                p {
                    font-family: 'Fredoka', sans-serif;
                    visibility: hidden;
                    opacity: 0;
                    color: $color_principal;
                }
            }

            .card:hover {
                cursor: pointer;

                img {
                    transform: scale(1.1) rotate(-3deg);
                }

                .intro {
                    background-color: $color_secundario;
                }

                p {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .menujugar {
        visibility: hidden;
    }

    .open-menujugar {
        visibility: visible;
    }

    // JUEGO 
    .container01 {
        margin: 3%;
        padding: 1%;
        background-color: #ffffff99;
        border: 0.5px solid #fdfdfd;
        border-radius: 30px;
        padding-top: 1.5rem;
        visibility: hidden;
    }

    .open-container01 {
        visibility: visible;
    }

    .pedido {
        grid-area: pedido;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #8ad7f0;
        padding: 1rem;
        font-family: 'Fredoka', sans-serif;
        color: #0f1517;
    }

    .base {
        position: relative;


        .dona_base1 {
            position: absolute;

        }

        .dona_decoracion_base1 {
            position: absolute;
            top: -1%;

        }
    }

    .life {
        grid-area: life;
        display: flex;
        justify-content: space-around;
        width: auto;
        border-top: 0.5px solid #8ad7f0;
        border-bottom: 0.5px solid #8ad7f0;
        border-left: 0.5px solid #8ad7f0;
        border-right: 0.5px solid #8ad7f0;
    }

    .points_section {
        grid-area: points_section;
        font-family: 'Fredoka', sans-serif;
        color: #0f1517;
        border-top: 0.5px solid #8ad7f0;
        border-bottom: 0.5px solid #8ad7f0;
        border-left: 0.5px solid #8ad7f0;
        border-right: 0.5px solid #8ad7f0;
    }

    #container_points,
    .negativos,
    .positivos,
    .segundos {
        display: flex;
        align-items: center;
        padding: 1rem;
        font-family: 'Fredoka', sans-serif;
        color: #0f1517;

    }

    #container_lifes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
        font-family: 'Fredoka', sans-serif;
        color: #0f1517;
    }

    .dona_deco {
        grid-area: dona_deco;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #8ad7f0;
        padding: 1rem;
    }

    .img_bg_game {
        grid-area: img_bg_game;
        border-radius: 0px 10px 0px 0px;
        background-image: url(../img/bg.png);
        border: 0.5px solid #8ad7f0;
        padding: 1rem;
        font-family: 'Fredoka', sans-serif;
        color: #0f1517;
    }

    .img_bg_game_1 {
        grid-area: img_bg_game_1;
        border-radius: 0px 0px 10px 0px;
        background-image: url(../img/bg.png);
        border: 0.5px solid #8ad7f0;
        padding: 1rem;
        font-family: 'Fredoka', sans-serif;
        color: #0f1517;
    }

    .ingredientes {
        grid-area: ingredientes;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #8ad7f0;
        padding: 1rem;
    }

    .container_ingredientes {
        display: grid;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
    }

    .ingrediente_violeta {
        grid-area: ingrediente_violeta;
    }

    .ingrediente_rosa {
        grid-area: ingrediente_rosa;
    }

    .ingrediente_celeste {
        grid-area: ingrediente_celeste;
    }

    .ingrediente_verde {
        grid-area: ingrediente_verde;
    }

    .ingrediente_amarillo {
        grid-area: ingrediente_amarillo;
    }

    .ingrediente_granas {
        grid-area: ingrediente_granas;
    }

    .img__ingredientes,
    .img__ingredientes_granas {
        transition: 0.5s;
    }

    .img__ingredientes:hover,
    .img__ingredientes_granas:hover {
        transform: scale(1.1) rotate(-3deg);
    }

    button {
        border: none;
        background-color: transparent;
    }

    .plato_solo {
        position: relative;
    }

    .botones_plato {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2%;
    }

    .dona_finalizar {
        height: 30%;
        width: auto;
        margin-bottom: 10%;
    }


    #botonagregar {
        background-color: #8ad7f0;
        border-radius: 5px;
        border: 1px solid #8ad7f0;
        display: inline-block;
        cursor: pointer;
        color: #0f1517;
        font-family: 'Fredoka', sans-serif;
        font-size: 17px;
        font-weight: bold;
        padding: 1% 3%;
        text-decoration: none;
    }

    #botonstart {
        background-color: #77d14d;
        border-radius: 5px;
        border: 1px solid #589b39;
        display: inline-block;
        cursor: pointer;
        color: #0f1517;
        font-family: 'Fredoka', sans-serif;
        font-size: 17px;
        font-weight: bold;
        padding: 1% 3%;
        text-decoration: none;
    }

    #botonstart:disabled {
        background-color: #70726f;
        border: 2px solid #323332;
    }

    #botonagregar:disabled {
        background-color: #70726f;
        border: 2px solid #323332;
    }

    #botonborrar:disabled {
        background-color: #70726f;
        border: 2px solid #323332;
    }

    #botonborrar {
        background-color: #DE4F4F;
        border-radius: 5px;
        border: 1px solid #9b3838;
        display: inline-block;
        cursor: pointer;
        color: #0f1517;
        font-family: 'Fredoka', sans-serif;
        font-size: 17px;
        font-weight: bold;
        padding: 1% 3%;
        text-decoration: none;
    }

    #botonstart:hover {
        background-color: #589b39;
    }

    #botonagregar:hover {
        background-color: #24a4c7;
    }

    #botonborrar:hover {
        background-color: #9b3838;
    }

    #boton:active {
        position: relative;
        top: 1px;
    }
}

// RANKING

#ranking_main {
    background-image: url(../img/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;

    #ranking_container {
        display: flex;
        flex-direction: column;
        background-color: #ffffff99;
        border: 0.5px solid #fdfdfd;
        border-radius: 30px;
        font-family: 'Fredoka', sans-serif;
    }

    .ranking_cards {
        display: flex;
        gap: 25%;
        padding: 1rem;
        padding-left: 4rem;
        align-items: center;
        border-bottom: 0.5px solid #fdfdfd;
        background-color: #ffffff99;

        .textranking {
            display: flex;
            width: 10%;
            justify-content: flex-start;

        }
    }

    .ranking_titulos {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }
}

.hidden-ranking {
    visibility: hidden;
}

.open-ranking {
    visibility: visible;
}

/*------------- MOBILE----------------- */
@media only screen and (min-width:320px) {

    //INICIO//
    .navbar-brand {
        font-size: 25px;
    }

    #menuprincipal {
        height: 800px;
    }


    h1 a {
        @include titulos(60px, Fredoka, bold);
    }

    footer a,
    .copyright {
        font-size: 16px;
    }

    .logo {
        height: 100px;
    }

    //JUGAR//
    #mainjugar {
        height: 800px;
    }


    // INGRESAR NOMBRE 

    #ingreseNombre {
        height: 200px;

        h1 {
            font-size: 20px;
        }

        input {
            height: 30px;
            width: 200px;
            font-size: 16px;
        }

        button {
            font-size: 16px;
        }
    }

    //ELECCION AVATAR//

    #menujugar {
        height: 650px;

        .jugar__titulos {
            font-size: 30px;
        }

        .container {

            grid-template-areas: "a1 a2"
                "a3 a4"
                "a5 a6";
            grid-template-rows: 180px 180px 180px;

            .card {
                height: 150px;
            }

            img {
                height: 130px;
                width: auto;
            }

            .intro {
                height: 80px;
                width: 250px;
                padding: 6px;
                top: 100px;

                h1 {
                    margin: 5px;
                    font-size: 18px;
                }

                p {
                    font-size: 12px;
                    margin: 5px;
                }
            }

            .card:hover {
                .intro {
                    height: 220px;
                    top: 90px;
                }
            }
        }
    }


    //JUGAR//

    .container01 {
        height: 780px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.6fr 0.9fr 1.4fr 1.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "life life life"
            "pedido points_section points_section"
            "dona_deco dona_deco dona_deco"
            "ingredientes ingredientes ingredientes";
    }

    .life {
        grid-area: life;
    }

    .pedido {
        grid-area: pedido;
    }

    .dona_deco {
        grid-area: dona_deco;
    }

    .ingredientes {
        grid-area: ingredientes;
        border-radius: 0px 0px 10px 10px;
    }

    .container_ingredientes {
        grid-template-areas:
            "ingrediente_violeta ingrediente_rosa ingrediente_celeste"
            " ingrediente_verde ingrediente_amarillo ingrediente_granas"
        ;
    }

    .points_section {
        grid-area: points_section;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "segundos positivos"
            "container_points negativos";
    }

    .segundos {
        grid-area: segundos;
    }

    .container_points {
        grid-area: container_points;
    }

    .positivos {
        grid-area: positivos;
    }

    .negativos {
        grid-area: negativos;
    }



    .pedido {
        height: 150px;
        width: auto;

        h1 {
            font-size: 16px;
        }
    }

    .base {
        width: 90px;
        height: 90px;
    }

    .dona_prep_base1 {
        height: 90px;
        width: 90px;
    }

    .dona_decoracion_base1 {
        height: 90px;
        width: 140px;
    }

    .life {
        height: 100px;
        border-radius: 10px 10px 0px 0px;
    }

    .segundos,
    .positivos,
    .negativos,
    .points {
        font-size: 16px;

    }

    .dona_deco {
        width: auto;
    }

    .time_img,
    .ok_img,
    .wrong_img,
    .star_img {
        padding-right: 1rem;
        height: 36px;

    }

    .avatar {
        height: 36px;
        width: auto;

    }

    .plato_solo {
        height: 180px;
        width: 180px;
    }

    .dona_prep_sola {
        height: 140px;

    }

    .dona_preparar {
        height: 100%;
        width: auto;
        margin-bottom: 2%;
    }

    .dona_preparar_sola {
        position: absolute;
        top: 11%;
        left: 11%;
    }

    .dona_decoracion_sola {
        position: absolute;
        top: 10%;
        left: 11%;
    }

    .lifes_img {
        height: 30px;
        width: auto;
    }

    .points_section.avatar {
        height: 80px;
    }

    .img__ingredientes {
        height: 80px;
        width: auto;
    }

    .img__ingredientes_granas {
        height: 70px;
        width: auto;
    }

    .img_bg_game,
    .img_bg_game_1 {
        display: none;
    }



    //RANKING

    #ranking_container {
        height: 800px;
        width: 40%;
    }

    .gamer_avatar {
        height: 100px;
    }

    .gamer_name,
    .gamer_points {
        font-size: 30px;
    }
}


/*------------- TABLET----------------- */
@media only screen and (min-width:768px) {

    //INICIO//
    .navbar-brand {
        font-size: 50px;
    }


    h1 a {
        @include titulos(80px, Fredoka, bold);
    }

    footer a,
    .copyright {
        font-size: 20px;
    }

    .logo {
        height: 150px;
    }

    //JUGAR//
    #mainjugar {
        height: 1000px;
    }

    // INGRESAR NOMBRE 

    #ingreseNombre {
        height: 220px;

        h1 {
            font-size: 28px;
        }

        input {
            height: 30px;
            width: 280px;
            font-size: 20px;
        }

        button {
            font-size: 17px;
        }
    }

    //ELECCION AVATAR//

    #menujugar {
        height: 800px;


        .jugar__titulos {
            font-size: 40px;

        }

        .container {
            grid-template-rows: 200px 200px;
            grid-template-areas: "a1 a2"
                "a3 a4"
                "a5 a6";

            .card {
                height: 180px;
                margin: 50px;
            }

            img {
                height: 180px;
                width: auto;
            }

            .intro {
                height: 100px;
                width: 350px;
                top: 180px;

                h1 {
                    margin: 5px;
                    font-size: 36px;
                }

                p {
                    font-size: 20px;
                    margin: 5px;
                }
            }

            .card:hover {
                .intro {
                    height: 220px;
                    top: 150px;
                }
            }
        }
    }

    //JUGAR
    container01 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.4fr 1.6fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "pedido life life img_bg_game"
            "pedido dona_deco dona_deco points_section"
            "ingredientes dona_deco dona_deco points_section"
            "ingredientes dona_deco dona_deco img_bg_game_1";
    }

    .pedido {
        border-radius: 10px 0px 0px 0px;
    }

    .ingredientes {
        border-radius: 0px 0px 0px 10px;
    }

    .container_ingredientes {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "ingrediente_violeta ingrediente_rosa"
            "ingrediente_celeste ingrediente_verde"
            "ingrediente_amarillo ingrediente_granas";
        border-radius: 10px 10px 10px 10px;

    }

    .dona_preparar_sola {
        position: absolute;
        top: 9%;
        left: 9%;

    }

    .dona_decoracion_sola {
        position: absolute;
        top: 8%;
        left: 9%;

    }


}

/*------------- DESKTOP----------------- */
@media only screen and (min-width:992px) {
    //INICIO//

    .navbar-brand {
        font-size: 40px;
    }

    .nav-link {
        font-size: 24px;
    }

    #menuprincipal {
        height: 800px;

    }

    h1 a {
        @include titulos(100px, Fredoka, bold);
    }

    footer a,
    .copyright {
        font-size: 24px;
    }

    //JUGAR//
    #mainjugar {
        height: 900px;
    }

    // INGRESAR NOMBRE 

    #ingreseNombre {
        height: 300px;

        input {
            height: 40px;
            width: 300px;
            font-size: 26px;
        }

        button {
            font-size: 17px;
        }
    }

    //ELECCION AVATAR//
    #container01 {
        width: 100px;
    }

    #menujugar {
        height: 700px;


        .jugar__titulos {
            font-size: 48px;

        }

        .container {
            grid-template-rows: 280px 280px;
            grid-template-areas: "a1 a2 a3"
                "a4 a5 a6"
            ;

            .card {
                height: 250px;
                margin: 50px;
            }

            img {
                height: 250px;
                width: auto;
            }

            .intro {
                height: 100px;
                width: 350px;
                top: 180px;

                h1 {
                    margin: 5px;
                    font-size: 36px;
                }

                p {
                    font-size: 20px;
                    margin: 5px;
                }
            }

            .card:hover {
                .intro {
                    height: 220px;
                    top: 150px;
                }
            }
        }
    }

    //JUGAR//

    .container01 {
        height: 800px;
    }

    .pedido {
        height: 280px;
        width: auto;

        h1 {
            font-size: 26px;
        }
    }

    .base {
        width: 200px;
        height: 200px;
    }

    .dona_prep_base1 {
        height: 200px;
        width: 200px;
    }

    .dona_decoracion_base1 {
        height: 200px;
        width: 250px;
    }


    .dona_prep_sola {
        height: 300px;

    }

    .life {
        height: 200px;
    }

    .points_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .segundos,
    .positivos,
    .negativos,
    .points {
        font-size: 26px;

    }

    .dona_deco {
        width: auto;
    }

    .time_img,
    .ok_img,
    .wrong_img,
    .star_img {
        padding-right: 1rem;
        height: 52px;

    }

    .avatar {
        height: 80px;
        width: auto;

    }

    .plato_solo {
        width: 370px;
    }

    .lifes_img {
        height: 50px;
        width: auto;
    }

    .img_bg_game,
    .img_bg_game_1 {
        width: 300px;
        height: 200px;
    }

    .points_section.avatar {
        height: 500px;
    }

    .img__ingredientes {
        height: 130px;
        width: auto;
    }

    .img__ingredientes_granas {
        height: 110px;
        width: auto;
    }


    //RANKING

    #ranking_container {
        height: 800px;
        width: 40%;
    }

    .gamer_avatar {
        height: 100px;
    }

    .gamer_name,
    .gamer_points {
        font-size: 30px;
    }

}